body {color: #434455;
  background-color: #FFFFFF;
  margin: 0;
   font-family: 'Roboto', sans-serif;}
h1, h2, h3, .logo { font-family: 'Raleway', sans-serif; }
.header { display: flex;
  font-size: 16px;
  letter-spacing: 1.12px;
  margin: auto;
  text-align: center;
  background: #fff;
  color: black;
}
.header-container{
  justify-content: space-between;
  margin: auto;
  }
.header-nav {

}
.logo { font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
}
.web,
.studio-logo {
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}
.web {
 font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5; 
  margin-left: 156px;
}
.studio-logo {
  color: #2e2f42;
  margin-right: 76px;
}
.menu {
  list-style: none;
  
  margin: 0;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu a {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts {
  list-style: none;
  margin-right: 156px;
  

}
.mail,
.phone {
  text-decoration: none;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.Effective {background-color: #2e2f42;     
   text-align: center;
  justify-content: center;
  color: white;
  max-width: 1140px;
  margin: 0 auto;
  padding: 120px 15px;
}
.Effective h1 {
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
}
.section-middle{color: rgba(0, 0, 0, 0.01);}

.section-button {
 background-color: #4D5AE5;        
  font-family: "Roboto", sans-serif;
  font-weight: 500;                 
  font-size: 16px;                  
  line-height: 1.5;                 
  letter-spacing: 0.04em;           
  color: #ffffff;                  
  cursor: pointer;                 
  border: none;                     
  padding: 16px 32px;              
  border-radius: 4px;               
  transition: background-color .2s;
}
.section-button:hover,
.section-button:focus {
  background-color: #404BBF; 
}
.sectisection-Strategy {
  margin: auto;
  background: #fff;

  color: black;
}
.Strategy {
  margin: auto;
  margin-top: 120px;
  list-style: none;
  
}
.Strategy li {
 
}

.Strategy h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team {max-width: 1140px;
  margin: 0 auto;
  padding: 120px 15px;
 background-color: #f4f4fd;
  
}
.ourteam {
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.photo { display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  
  list-style: none;
}
.photo li{background-color: #fff;
  }


.photo img{}
  
.photo h3{font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color:#2e2f42;
}
.photo p{font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color:#434455;}

.Works{
  margin: auto;
  
}.section-portfolio{padding: 120px 15px;
  background: #fff;}


.portfolio-container{
  margin: auto;
}
.portfolio-container h2{
  justify-content: center;
  margin-top: 120px;

}
.portfolio-title { font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 auto 72px;
}
.apps
{ display: flex;
  list-style: none;
  margin: 0;
  margin-top: 72px;
  margin-bottom: 120px;
}

.apps li { 
  background-color: #fff;
  text-align: left;}

.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
} 


.item-title {font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 16px 0 8px;}
.item-text {
 font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0 0 16px;
}

.footer {
  margin: auto;
  margin-top: 120px;
  background: #2e2f42;
  color: white;
}
.footer-container {
  margin: 0 auto;}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;}
.footer-span {
  color: #f4f4fd;}


.footer-text{
            margin-top: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-light, #F4F4FD);}